html { 
    margin: 0; 
    padding: 0; 
}
body { 
    font-family: sans-serif;
    color: #333; 
}

h1 {
    font-size: 1.2em;
    margin: auto;
}



#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 400px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    background-color: darkgrey;
}

.square {
    height: 4px;
    width: 4px;
    background-color: rgb(255, 255, 255);
    margin: .5px;
}
.grid{
    display: flex;
    flex-wrap:wrap;
    width: 400px;
    height: 400px;
    background-color: blueviolet;
}
