body { 
    background-color: #faf8ef;
  display: flex;
  justify-content: center;
  font-family: "Clear Sans", "Helvetica Neue"
}

h1 {
    font-size: 80px;
    line-height: 0.7;
    color: #776E65;
    margin: 0px;
  }

#Vac_Mat_app{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width: 400px;
    border: 1px solid #111111;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 600px;
    border: 1px solid #eee;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    background-color: blueviolet;
}

.cells {
    height: 125px;
    width: 125px;
    background-color: lightseagreen;
    margin: .5px;
}

.chem{
     height: 37.5;
     width: 37.5;
     background-color: brown;
     margin: .5px

}

.score-container {
    text-align: center;
    width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: #8f7a66;
    color: #FFFFFF;
  }

#score {
    font-size: 30px;
  }
  
  .score-title {
    font-size: 16px;
  }
